.git
.gitignore
.vagrant
Procfile
README.md
Vagrantfile
app/audio
!app/audio
!app/audio/**
app/original_resources
app/replay
app/resources
!app/resources
!app/resources/**
app/shaders
!app/shaders
!app/shaders/**
app/tools
app/ui
!app/ui
!app/ui/**
app/vendor
!app/vendor
!app/vendor/**
app/view
!app/view
!app/view/**
circle.yml
cli
desktop
dist
docs
firebaseRules.json
gulp
!gulp
!gulp/**
node_modules
public
scripts
!scripts
!scripts/generate_packages.js
terraform
